body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table {border-spacing: 0;}

body {
	background-color: #f1f1f1;
}

body, html, #wrapper {
  height: 100%;
}

ul {
	list-style-type: none;
	list-style-image: none;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.hidden { 
	display:none
}

.red-border3{
	border : 3px solid red;
}

.red-border2{
	border : 2px solid red;
}

.green-border2{
	border : 2px solid #05EA05;
}

.pointer {
	cursor:pointer;
}

#header-wrapper {
	width:100%;
	height:50px;
	background-color:grey;
	overflow: hidden;
}

ul.horizontal {
	float: left;
	position: relative;
}

ul.horizontal {
	list-style-type: none;
	list-style-image: none;
}

ul.horizontal li {
float:left;
}

nav.main-menu ul.horizontal li {
	height:40px;
	padding-top: 14px;
    border-right: 2px solid #716D6D
}

nav.main-menu ul.horizontal li.selected {
	background-color: #4F49B7;
}

nav.main-menu ul.horizontal li:HOVER {
	background-color: #4F49B7;
	cursor: pointer;
}

nav.main-menu ul li a {
	font-size: 17px;
	padding: 20px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}


#submenu-controls {
	background-color: #595959;
    height: 33px;
    width: 100%;
    overflow: hidden;
    
}

#submenu-controls li{
	height:33px;
}

#submenu-controls li.selected{
	background-color: #3465a4;
}

#submenu-controls li:HOVER{
	background-color: #3465a4;
}

#submenu-controls li a {
	vertical-align: middle;
	text-decoration: none;
}



#submenu-controls li a span{
    font-size: 15px;
    color:white;
	display:block;
	height:33px;
	padding: 5px 10px;
}


#supplier-wrapper {
	overflow:hidden;
	background-image: url(/img/wareh.jpg);
	background-position: center top;
    background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#supplier-wrapper .highlight {
	background-color:#FFFFA5;
}

#supplier-wrapper .highlight-unused {
	background-color:#FFA1A1;
}

#suppliers-wrapper {
	border-radius:5px;
	width:300px;
	min-height:500px;
	background-color: rgba(71, 155, 236, 0.90);
	margin:0 10px 10px 10px;
	float:left;
	padding:15px;
	overflow: auto;
}

#suppliers-wrapper ul {
	list-style: none;
	list-style-image: none;
	margin-top:10px
}

#suppliers-wrapper ul li{
	cursor:pointer;
	background-color: #D3D3D3;
}

#suppliers-wrapper ul li:nth-child(2n) {
    background-color: #e4e9ff;
}
#suppliers-wrapper ul li:HOVER{
	background-color: #FFFA65;
}

#suppliers-wrapper .supplier-item {
	padding : 7px 10px;
	font-size:17px;
}


#suppliers-controls {
	overflow: hidden;
}

#suppliers-controls #add-supplier {
	float:left;
}

#suppliers-controls a {
	 float:right;
	 padding: 2px;
	 border-radius: 5px;
}


#suppliers-controls a.active {
	background-color: #4F4869;
}

#suppliers-controls img {
	height:40px;
}

#supplier-products-wrapper {
	margin:0 10px 10px 350px;
	min-height:500px;
	    background-color: rgba(179, 196, 213, 0.97);
	border-radius:5px;

}

#supplier-products-wrapper #supplier-products {
	margin: 0 15px;
}

#supplier-products-wrapper #magic-search {
	width:100%;
	height:0px;
	/*height:45px;*/
	display:none;
	background-color: #4F49B7;
}

#supplier-products-wrapper #old-products {
	width:100%;
	height:40px;
	padding:10px 0 0 15px;
	background-color: #75B0B1;
	font-size: 19px;
	display:none;
}

#supplier-products-wrapper #old-products input {
	width:40px;
	font-size:18px;
}

#supplier-products-wrapper #magic-search .search-key{
	width:98%;
	height:68%;
	margin:5px 10px;
	font-size:20px;
	padding-left:5px;
	color:#3E3737;
}



#supplier-products-wrapper .supplier-item-full {
	padding:6px 0;
}

#supplier-products-container {
	
}



.test {
	background-color : red;
	width:100px;
	height:100px;
}

.horizontal-layout {
	margin-top:10px;
	overflow: hidden;
}

#date-block {
	width:100%;
	height:50px;
	background-color:#4F49B7;
	-webkit-box-shadow: -2px 4px 6px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -2px 4px 6px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -2px 4px 6px 0px rgba(50, 50, 50, 0.75);

}
#date-block span {
	background-color:#729fcf;
	font-size:25px;
	display:block;
	margin:0 auto;
	padding:11px 10px 0 10px;
	width:225px;
	height:39px;
	cursor:pointer;
	text-align:center;
}

#date-block span:HOVER {
	background-color:#ACCFF5;
}



#datepicker {
	display:none;
	position:absolute;
	top:100px;
	left:40%
}


#invoice-print-container {
	padding:10px;	
}

#invoice-container-wrapper {
	margin-top:10px;
}


#invoice-container .invoice-row {
	width:100%;
	border:medium;
}

#invoice-container .invoice-row .checked {
	background-color:grey;
}

#invoice-container .invoice-row .number-column{
	width:3%;
	text-align: center;
}

#invoice-container #invoice-table-header .date-column{
	width:12%;
	text-align: center;
	display:none;
}

#invoice-container .invoice-row .margin-column{
	width:15%;
	text-align: center;
}
#invoice-container .invoice-row .total-column{
	width:15%;
	text-align: center;
}
#invoice-container .invoice-row .income-column{
	width:15%;
	text-align: center;
}

#invoice-container .invoice-row .print-column{
	width:10%;	
	text-align: center;
}

#invoice-container .invoice-row .expenses-column{
	width:10%;	
	text-align: center;
}


#invoice-dialog-view input:focus {
	    border-color: #66afe9;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	
}

#invoice-table .invoice-row-value {
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
	    font-size: 18px;
    cursor:pointer;
}


#invoice-table .invoice-row-value .control-invoice{
    cursor:default;
}

#invoice-table .invoice-row-value .control-invoice button{
    cursor:pointer;
}



#invoice-table .invoice-row-value:hover {
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
}


#invoice-table .invoice-row-value.credit-invoice {
	background: linear-gradient(to bottom, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
}
#invoice-table .invoice-row-value.credit-invoice:hover {
	background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%);
}

#invoice-table .invoice-row-value.excise-invoice {
	background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%);
}
#invoice-table .invoice-row-value.excise-invoice:hover {
	background: linear-gradient(to bottom, rgba(252,248,212,1) 0%,rgba(239,210,23,1) 100%);
}


#invoice-table .invoice-row-value.credit-excise-invoice {
	background: linear-gradient(to bottom, rgba(237,217,109,1) 0%,rgba(255,142,142,1) 100%); 
	
}
#invoice-table .invoice-row-value.credit-excise-invoice:hover {
	background: linear-gradient(to bottom, rgba(239,210,23,1) 0%,rgba(255,89,89,1) 100%);
}


#invoice-table .invoice-row-value .no-padding{
	padding:0px;
}

#invoice-table .invoice-row-value:HOVER {
	  background-color: #a4bcff;
   
}

#invoice-table .invoice-row-value td {
	border: 1px solid #615B5B;
	 padding: 3px;
}

.control-invoice {
	background-color: #776A6A;
	padding:5px;	
}

.control-invoice button {
	margin-right:5px;
}


#invoice-container .supplier-table-name{
	padding-left:10px;
}


#products-step-2 table td {
	margin: 40px;
}

#products-step-2 table th {
	background-color:#99BCCA;
	padding:5px;
	border-right: 1px solid #6E8DFF;
	color:#4C4C4C;
	cursor:pointer;
}


#products-step-2 table th.asc {
	background-color:#A3F2A3;
	
}

#products-step-2 table th.desc {
	background-color:#FFABAB;
	
}

#products-step-2 table tr:nth-child(odd) {
	background-color:#D8D8D8
}

#products-step-2 #product-list {
	margin-bottom:10px;
}

#products-step-2 #product-list .invoice-product-item td{
	text-align:center;
}

#products-step-2 #product-list .invoice-product-item td.product-name{
	width:245px;
	text-align:left;
}

#un-select-product {
	float: right;
    overflow: hidden;
}

#products-step-2 table th:first-child {
	border-top-left-radius: 5px;
}
#products-step-2 table th:last-child {
	border-top-right-radius: 5px;
}


#products-step-2 table .product-name {
	padding:5px 20px 5px 5px;
}

#products-step-2 table .product-price, #products-step-2 table .product-margin-price, #products-step-2 table .product-excise-price {
	width:125px;
}

#products-step-2 table .product-price input, #products-step-2 table .product-margin-price input , #products-step-2 table .product-excise-price input {
	width:90px;
}
#products-step-2 table .product-margin input {
	width:60px;
}
#products-step-2 table .product-quantity input {
	width:60px;
}

.full-view table {
	background: linear-gradient(to bottom, rgb(210, 237, 255) 0%,rgb(179, 208, 230) 100%);
	width:100%;
}

.full-view table tr:nth-child(even) {
	background-color:#B8CAFF;
}

.full-view table td.product-name, .full-view table td.control-invoice{
	text-align:left;
}

.full-view table th{
	font-size:16px;
	height:30px;
}

.full-view table td {
	text-align:center;
}

.full-view table td.product-price {
	width:12%;
}
.full-view table td.product-margin {
	width:9%;
}
.full-view table td.product-maring-price {
	width:12%;
}
.full-view table td.product-quantity {
	width:10%;
}
.full-view table td.product-total {
	width:13%;
}
.full-view table td.product-total-with-margin {
	width:13%;
}



#invoice-layout {
	width:100%;
}
.invoice-revenue-layout {
	width:75%;
	padding-left: 10px;
}

#summary {
	padding:10px 20px;
	font-size:18px;
}

#summary td {
	width:100px;
	padding: 0 5px;
}

#summary td.t-header {
	width:250px;
}

#summary fieldset {
	margin-bottom:20px;
	padding:10px;
}


#invoice-dialog-view fieldset {
	margin-bottom:20px;
	padding: 10px 10px;
}
#products-step-1 .first-colums {
	
	width:70%;
	text-align:left;
}

#products-step-1 .first-colums table  {
	width:100%;
}

#products-step-1 .first-colums table tr:nth-child(odd) {
	background-color:#FDE9BD;
}

#products-step-1 .first-colums label {
	margin-left:10px;
}

#products-step-1 .first-colums label, #products-step-1 .first-colums input {
	cursor:pointer;
}

#summary table {
	width:100%;
}
#summary table tr:nth-child(odd){
	background-color: #DDE9FF;
}

#summary table tr.balance{
	background-color: #A0E0A2;
	color:white;
	font-size:22px;
	font-weight: 800;
	cursor:pointer;
	text-shadow: -1px 0 2px #666666;
}

#balance-edit {
	margin-left: 50px;
    margin-top: 15px;
}

#table-header {
	font-size:18px;
	font-weight: 700;
	text-align: right;
	padding:5px;
}


#invoice-table-header th:first-child,.table-header th:first-child {
	border-top-left-radius: 5px;
	
}

#invoice-table-header th:last-child, #expenses-container .table-header th:last-child {
	border-top-right-radius: 5px;
}

#table-header span{
	font-size:20px;
	text-align: center;
	padding:5px;
}
#invoice-container {
	margin-bottom:50px;
}



table.table-header th {
	font-size:18px;
	background-color:#6DCA70;
	/*background-color:#57A159;*/
	color:white;
	font-weight:700;
	padding:2px 0;
	border: 1px solid #4F9852;
	height:25px;
	text-shadow: -1px -1px 1px #666666;
}

#expenses-container .revenue-number {
	text-align:center;
	width:3%;
}

#expenses-container .revenue-type {
	width:20%;
}

#expenses-container .revenue-print {
	text-align:center;
	width:10%;
}
#expenses-container .revenue-expenses {
	text-align:center;
	width:10%;
}
#expenses-container .revenue-revenue {
	width:15%;
	text-align:center;
}

#expenses-table table {
	width:100%;
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    font-size: 18px;
}

#expenses-table table:HOVER {
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
	cursor: pointer;
}
#expenses-table td {
	padding:2px;
	border:1px solid #615B5B;
}

#revenue-dialog-form table td {
	padding:5px;
}

#category-poduct-control {
	margin : 5px 0 15px 0;
}

#supplier-products .supplier-item-full .supplier-input{
	width:250px;
	
}
#supplier-products .supplier-item-full input[type="text"] {
	font-size:19px;
}

#category-poducts-content input[type="text"] {
	font-size:19px;
}

.supplier-product-table {
	width:100%;
}





.supplier-product-table td {
	font-size:20px;
	padding:5px 10px;
	
	border:#ccc 1px solid;
	color:#292929;
	text-align:center;
}

.supplier-product-table th {
	
	padding: 5px 10px;
    background-color: #79CB97;
    color: white;
    border:#ccc 1px solid;
    text-align:center;
    
}

.supplier-product-table tr {
		background-color:white;
}



.supplier-product-table tr:nth-child(even) {
		background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	    background: #f6f6f6;
}

.supplier-product-table tr:HOVER {
		background-color:#E0E0E0;
}

.supplier-product-table .supplier-product-name input {
	width:310px;
}
.supplier-product-table .supplier-product-name {
	min-width:250px;
	max-width:500px;
	text-align:left;
}
.supplier-product-table .supplier-product-price {
	min-width:90px;
	max-width:220px;
}
.supplier-product-table .supplier-product-margin {
	min-width:90px;
	max-width:220px;
}
.supplier-product-table .supplier-product-margin-price {
	min-width:90px;
	max-width:220px;
}
.supplier-product-table .supplier-product-control {
	min-width:90px;
	max-width:220px;
}

.supplier-product-table .supplier-product-price input,.supplier-product-table .supplier-product-margin input,.supplier-product-table .supplier-product-margin-price input{
	width:80px
}


#invoice-dialog-view table td {
	padding:3px
}

.shop-dialog-info .ui-widget-header {
	background: url(../img/info.png) repeat-y local  #b7b7b7
}

.shop-dialog-info .ui-widget-header span, .shop-dialog-warning .ui-widget-header span, .shop-dialog-error .ui-widget-header span{
	margin-left:30px;
}

.shop-dialog-warning .ui-widget-header {
	background: url(../img/warning.png) repeat-y local  #b7b7b7
}
.shop-dialog-error .ui-widget-header {
	background: url(../img/error.png) repeat-y local  #b7b7b7
}




.print-table th {
	padding : 2px 10px;
}

.print-table {
	border-collapse: collapse;
	margin-top:5px;
}

.print-table th {
	padding : 2px 10px;
}

#print-body .print-table td {
	text-align:center;
	padding:0;
	vertical-align: middle !important;
	word-break: break-all;
	max-width: 6.5cm;
}
.print-table, .print-table th, .print-table td {
	border:1px solid black;
}

.incoive-print-table th.product-quantity {
	padding : 2px 5px;
}


.incoive-print-table td.product-name {
	padding: 2px 5px 2px 5px;
	text-align: left;
	white-space: nowrap;
}

.revenue-print-table .revenue-type {
	padding: 2px 20px 2px 5px;
	text-align: left;
}

#revenue-print .revenue-head {
	background-color: #464444;
	color:white;
}


.first-column {
	float:left;
	margin-right:20px;
	clear:both
}

#invoice-container-wrapper {
	position:relative;
}

#page-emulator {
	position:absolute;
	left:0;
	top:0;
	background-color:red;
	width:19.5cm;
	height:24.4cm;
	opacity:0.2;
	display:none;
	z-index:-1;
}


#print-area{
	font-size:9pt;
	float: left;
    overflow: hidden;
    width:17.8cm;
    margin-right:50px;
    padding:0 1cm;
    min-height:10cm;
}





#control-print {
	display:none;
}

#total-print {
	margin-bottom:5mm;
}

button.font-selected {
	background-color:blue;
}

th.print-column, th.revenue-print {
	cursor:pointer;
}

@media print {
	body {
		-webkit-print-color-adjust: exact;
		height:99%;	
		margin: 0;
		font-size:9pt;
	}
	
	html {
		height:99%	
	}
	
	body.font-7 {
		font-size:7pt;
	}
	body.font-7-5 {
		font-size:7.5pt;
	}
	body.font-8 {
		font-size:8pt;
	}
	body.font-8-5 {
		font-size:8.5pt;
	}
	body.font-9 {
		font-size:9pt;
	}
	body.font-10 {
		font-size:10pt;
	}
	body.font-11 {
		font-size:11pt;
	}
	body.font-12 {
		font-size:12pt;
	}
	body.font-13 {
		font-size:13pt;
	}
	body.font-14 {
		font-size:14pt;
	}
	body.font-15 {
		font-size:15pt;
	}
	body.font-16 {
		font-size:16pt;
	}
	
	table.no-break {page-break-inside: avoid;}
}

.calendar-layout {
	padding:10px;
}

#block-day {
	width:150px;
	margin:5px;
}

#block-day fieldset {
	padding:5px;
	background-color:#D6D6D6
}

#block-day fieldset legend {
	font-size: 22px;
    font-weight: 700;
}

#block-day .first-shift {background-color:#EBFF83}
#block-day .second-shift {background-color:#C3FFC3}

.sellers-layout {
	padding:10px;
}

.sellers-layout .seller-title {
	margin-right: 25px;
    display: block;
    float: left;
}

.sellers-layout #seller-list {
	margin-top:10px
}

.seller-select {
	font-size:15px;
}

.seller-break {
	font-size:8px;
}

.summary-seller-select {
	display:none;
}

.seller-title {
	color:#4C4C4C;
}

#statistic-block-wrapper {
	padding:10px;
}

#container-proceed, #container-proceed2 {
	width: 90%; 
	height: 500px; 
	margin:0 15px;
}

.stat-table-title {
	padding: 5px;
    display: block;
}

#statistic-block .datepicker {
	font-size:17px;
	width:100px;
	padding:1px;
}

#statistic-block #proceed-result {
	padding:10px;
	font-size:25px;
	color:#4A4242;
	background-color:#BAFF71;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width:300px;
	display:none;
}

#statistic-block #proceed-control {
	padding:10px;
	background-color: #DADADA;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width:320px;
}

#statistic-block #proceed-control.not-active {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#statistic-wrapper {
	background-image: url(/img/bg11.jpg);
	height:calc(100% - 100px)
}
#statistic-module {
	margin-bottom: 10px;
}

#login-block {
	 width: 300px;
    margin: 0 auto;
    background-color: white;
    font-size:20px;
}
#login-block input {
	font-size:20px;
	width:155px;
}

#login-block table td{
	padding:5px;
}
#user-form {
	float:right;
	margin:10px 10px 0 0;
}

#sallary-module {
	min-height: 300px;
    background-color: #989696;
    border-radius: 10px;
    color: white;
    opacity: 0.95;
}

#sallary-module h2 {
	text-align: center;
	padding-top:5px;
}

#sallary-form  span.title {
	font-size: 19px;
    text-shadow: -1px 0 2px #666666;
    font-weight: 700;
}

#sallary-form input {
	width:40px
}

#sallary-form select, #sallary-form input {
	font-size:17px
}

#salary-result {
	display:none;
	margin-top:20px
}

#salary-general-info {
	background-color: #41905A;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

#salary-general-info td{
    padding: 5px 0;
}

#salary-general-info tr:nth-child(2n) {
	background-color: #426F3D;
}

#seller-salary-table {
    background-color: rgb(42, 88, 132);
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}

#seller-salary-table td{
	padding: 10px 20px;
}

#seller-salary-table tr:nth-child(2n) {
	background-color: #26274E;
}

#cigarette-parsed-table {
	width:100%;
}

#cigarette-parsed-table input {
	width:60px;
}
#cigarette-parsed-table th {
	padding: 0 10px;
}
#cigarette-parsed-table td {
	text-align: center;
}
#cigarette-parsed-table td.cigarette-item-name {
	text-align: left;
}

#cigarette-parsed-table td.cigarette-item-name input{
	width:220px;
}

#cigarette-parsed-table tr:nth-child(odd) {
	background-color:#D8D8D8
}

#cigarette-parsed-table tr.price-changed {
	background-color:#FFD73E;
}

#cigarette-parsed-table tr.new-item{
	background-color:#71F163;
}


#cigarette-parsed-table .warning .barcode {
	background-color:red;
}

.excise-product-column {
    border-bottom: 1px dotted black;
    margin-bottom: 30px;
}


.excise-product-column ul {
   clear: both;
    overflow: hidden;
}

.excise-product-column ul li {
    float: left;
    list-style: outside none none;
    padding: 6px 3px;
    width: 24%;
    
}

.excise-product-column ul li label, .excise-product-column .supplier-header {
	cursor:pointer;
}

#excise-wrapper #excise-control {
	overflow: hidden;
}

#excise-wrapper #excise-search {
	float: left;
    font-size: 20px;
    padding: 5px;
}

#excise-wrapper #excise-search input {
	font-size: 20px;
}

#excise-wrapper #excise-product-table {
	font-size:20px;
	float:left;
}
#excise-wrapper #excise-product-table th{
    border-left: 2px solid #D0DCFD;
	padding:5px;
	background-color:#779BFD;
    color: white;
}

#excise-wrapper #excise-product-table th.asc {
	background-color:#4DD24D;
}

#excise-wrapper #excise-product-table th.desc {
	background-color:#EA8989;
}

#excise-wrapper #excise-product-table th.sortable {
	cursor:pointer;
}
#excise-wrapper #excise-product-table th.sortable:HOVER {
	/*background-color: #587EEF;*/
}

#excise-wrapper #excise-product-table td{
	padding:5px;
}

#excise-wrapper #excise-product-table .excise-product-name {
	padding-right:50px;
}

#excise-wrapper #excise-product-table .excise-product-price {
	padding-right:30px;
}



#excise-wrapper #excise-product-table tr:nth-child(2n) {
	background-color:#E0FFDB
}

#excise-wrapper .ui-icon-close {
	cursor: pointer
}

#excise-wrapper #excise-product-table tr.excise-match-row{
	background-color:#F3F35D
}

#excise-types-product-view input.excise-text {
	width:90px;
}

#excise-types-product-view td {
	padding:5px
}

#statistic-wrapper #calculation {
	background-color: #D0D9E3;
    border-radius: 5px;
    padding: 15px;
}

#statistic-wrapper #calculation table th, #statistic-wrapper #calculation table td{
	padding:5px
}

#statistic-wrapper #calculation table th{
	color:white;
	background-color:#31BC86;
}

#statistic-wrapper #calculation table th.product{
	width:300px;
	font-size:18px;
}

#statistic-wrapper #calculation table td {
	font-size: 18px;
    color: #575252;
}

#statistic-wrapper #calculation table td.empty {
 background-color: #FF9494
}

#statistic-wrapper #calculation table  tr:nth-child(odd) {
	background-color: #D3E4F6;
}
#statistic-wrapper #calculation table  tr.reslut-row {
	background-color: rgb(248, 242, 129);;
}

#statistic-wrapper #calculation h2.result{
    color: #4461EB;
}

#statistic-wrapper #calculation h2.title-res{
	    margin: 0 0 10px 10px;
    color: #6C6C6C;
    font-weight: 900;
    font-size: 25px;
}


#print-body {
	font-size:16px
}

#print-body .print-table td {
	padding:2px
}

#print-body .print-table tr:nth-child(even) {
	background-color:#E4E4E4
}

#print-body td {
	vertical-align: top;
}

.supplier-item-full .supplier-title {
	color: #545454;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 2px;
    background-color: rgba(108, 152, 213, 0.56);
    box-shadow: 0px 2px 4px #5C5C5C;
    margin-bottom:20px;
}


.supplier-item-full .edit-block img {
	 cursor:pointer;
}



.edit-block .edit-block-input, .edit-block .edit-block-select {
	display:none;
}

#dialog-product td {
	padding:5px
}

#supplier-wrapper .supplier-category {
	float: left;
    font-size: 23px;
    background-color: #D7E5FF;
    border: 1px solid #837878;
    border-radius:3px;
    padding: 7px 14px;
    margin-bottom: 10px;
    font-weight: 700;
	max-width: 175px;
}

#dialog-search-form table td {
	padding:5px 10px;
}


#table-header-info.info  {
	font-size: 30px;
    width: 600px;
    padding: 20px;
}

@keyframes highlight {
  0% {
    background: yellow
  }
  100% {
    background: none;
  }
}

.animate {
  animation: highlight 2s infinite;
}
