<div id="login-block">
	<form name="f" autocomplete="off" action="/login" method="POST">
	<input style="display:none">
<input type="password" style="display:none">
	  <table>
	    <tr><td>Користувач:</td><td><input placeholder="" type='text' name='username' value=''/></td></tr>
	    <tr><td>Пароль:</td><td><input  type='password' name='password' value=''/></td></tr>
	    <tr><td colspan='2' align="right"><input  name="submit" type="submit" value="Логін"></td></tr>
	  </table>
	</form>
</div>
