<script id="productTemplate" type="text/template">
<td><input type="text" name="name" value="<%- name %>"</td><td><a class="delete-category" href="#"> Видалити</td>
</script>

<div id='supplier-wrapper'>

	<div class="horizontal-layout" >
		
		<div id="category-poducts" style="width:350px;padding:20px;margin-left:15px;background-color:black;opacity:0.9;min-height:700px">
			<div id="category-poduct-control">
				<button type="button" class="uibutton" id="add-new-category">Додати нову картегорiю</button>
			</div>
			<table id="category-poducts-content" style="background-color: #A4D4E6;">
	
			</table>

		</div>
		
		
	</div>

</div>